extends layout

block content

  h1 search
  input#search-box(type='text' onkeyup='sendData(this)')
  section#searchResults
  script.
    function sendData(e){
    const searchResults=document.getElementById('searchResults')
    fetch('getArticles',{
      method:'POST',
      headers:{'Content-Type':'application/json'},
      body:JSON.stringify({payload: e.value})
      }).then(res => res.json()).then(data => {
        let payload=data.payload;
        searchResults.innerHTML='';
      if(payload.length < 1){
      searchResults.innerHTML='<p>Sorry nothing found</p>';
      return;
    }
    payload.forEach((item,index)=>{
    if(index > 0) searchResults.innerHTML += '<hr>';

      searchResults.innerHTML += `<p>${item.medicine}</p>`
    })
    return;
    })
    }
